/* 
    ALL pages have an expanded different photo - same like header below the nav bar
        Make long text boxes shorter (less width)

    Take out contact form

    Have all info on one page (no nav items)
 */

#about {
    padding: 2.5% 10% 5%;
    display: flex;
    flex-wrap: wrap;
}

#about h1, 
#about h2 {
    width: 100%;
    text-align: center;
}

#about #facility {
    width: 100%;
    padding-top: 5%;
}

/* #about .image {
    width: 100%;
    padding-top: 5%;
}

#about img{
    width: 100%;
    height: 400px;
} */

