footer {
    position: absolute;
    bottom: 0;
    padding: 1% 0 2% 0;
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p, 
footer a {
    font-size: 1.5rem;
}

footer .navbar{
    text-align: center;
}

footer .nav-item{
    padding: .25% 0;
    cursor: pointer;
}

footer #info{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer #first-col{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 15%;
    height: 55%;
}

footer #second-col{
    display:flex;
    width: 40%;
    align-items: flex-start;
}

footer #third-col{
    width: 13%;
}

footer .hours{
    width: 100%;
}

footer .break-div {
    margin: 1%;
}

footer .contact{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .contact .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact .phone,
footer .contact .email {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    align-items: center;
}

footer .socials #facebook,
footer .socials #instagram,
footer .socials #tiktok {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 0 ;
    align-items: center;
}

footer .socials img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer .contact img {
    margin: 1% 2%;
}

footer iframe {
    margin-top: 3%;
}

footer .holiday-hours{
    width: 100%;
}

footer .navbar p{
    font-size: 2rem;
    font-weight: bolder;
}

footer .title{
    font-size: 2rem;
    font-weight: bolder;
}

footer .logo{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 3%;
}

footer .logo-png{
    width: 80%;
}

.copyright{
    display: flex;
    align-items: center;
    width: 100%;
}

.copyright .name{
    text-align: end;
    width: 65%;
}

.copyright .year{
    text-align: left;
    padding-left: .5%;
}