

footer #second-col{
    display:flex;
    width: 40%;
    align-items: flex-start;
}

footer .break-div {
    margin: 1%;
}

footer .contact .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact .phone,
footer .contact .email {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    align-items: center;
}

footer .contact img {
    margin: 1% 2%;
}

footer iframe {
    margin-top: 3%;
    width: 100%;
}

footer .title{
    font-size: 2rem;
    font-weight: bolder;
}