header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ad0005;
}

header .logo{
    width: 8%;
    padding: 1% 0;
}

header .logo-png{
    display: inherit;
    justify-content: flex-start;
    margin: 2%;
    width: 80%;
}

header .navbar{
    width: 50%;
    margin: 1% 0;
    align-self: center;
    background-color: #06aed5; 
}

header .nav{
    display: flex;
    justify-content: space-between;
}

header .about,
header .home,
header .boarding, 
header .daycare,
header .grooming,
header .forms,
header .faq {
    transition: 0.3s;
    float: left;
}

header .about .dropbtn,
header .boarding .dropbtn,
header .daycare .dropbtn,
header .grooming .dropbtn,
header .faq .dropbtn,
header .home,
header .forms {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
}
  
  header .nav-item,
  header button {
    display: flex;
    padding: 1% 2%;
    cursor: pointer;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #06aed5;
}

header .home:hover,
header .about:hover,
header .boarding:hover,
header .daycare:hover,
header .grooming:hover,
header .forms:hover,
header .faq:hover,
header .dropbtn:hover {
    transform: scale(1.1);
    color: black;
}

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    min-width: 100px;
    /* padding: inherit; */
    background-color: inherit;
  }

    /* Show the dropdown menu on hover */
    .about:hover .dropdown-content,
    .boarding:hover .dropdown-content,
    .daycare:hover .dropdown-content,
    .grooming:hover .dropdown-content,
    .faq:hover .dropdown-content {
      display: list-item;
      position: absolute;
      top: 55px;
      left: 0px;
    }

.about .dropdown-content,
.boarding .dropdown-content,
.daycare .dropdown-content,
.grooming .dropdown-content,
.faq .dropdown-content {
  min-width: 100%;
}

  /* Links inside the dropdown */
  .dropdown-content a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: none;
    color: white;
    padding: 2%;
    text-decoration: none;
    text-align: left;
    font-size: inherit;
  }

  /* Links on hover inside dropdown */
  .dropdown-content a:hover {
    color: black;
  }
