header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ad0005;
}

header .logo{
    width: 100%;
}

header .logo-png{
    display: block;
    margin: 1% auto .5%;
    width: 10%;

}

header .navbar{
    width: 50%;
    margin: 1% 0;
    /* border: 1px solid hotpink; */
}

header .nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue;  */
}

header .nav-item {
    padding: 1% 2%;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid orange;  */
    color: #0d324d;
    background-color: #06aed5;
}

header .home{
    transition: 0.3s;
}
header .home:hover{
    transform: scale(1.1)
}

header .about{
    transition: 0.3s;
}
header .about:hover{
    transform: scale(1.1)
}

header .boarding{
    transition: 0.3s;
}
header .boarding:hover{
    transform: scale(1.1)
}

header .daycare{
    transition: 0.3s;
}
header .daycare:hover{
    transform: scale(1.1)
}

header .grooming{
    transition: 0.3s;
}
header .grooming:hover{
    transform: scale(1.1)
}

header .forms{
    transition: 0.3s;
}
header .forms:hover{
    transform: scale(1.1)
}

header .faq{
    transition: 0.3s;
}
header .faq:hover{
    transform: scale(1.1)
}

