#home {
    padding: 12% 10% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home .image {
    padding-bottom: 5%;
    width: 90%;
}

#home .info {
    display: flex;
    justify-content: space-between;
}

#home .boarding,
#home .daycare,
#home .grooming {
    width: 25%;
    text-align: justify;
}

#home p {
    margin-top: 5%;
}

#home button {
    display: block;
    margin: auto;
    margin-top: 10%;
}

#home h2 {
    text-align: center;
}