#home-div {
    padding: 20% 10% 5%;
    display: flex;
    flex-wrap: wrap;
}

#home-div .image {
    padding-bottom: 5%;
    width: 100%;
}

#home-div .info {
    display: flex;
    justify-content: space-between;
}

#home-div .boarding,
#home-div .daycare,
#home-div .grooming {
    width: 25%;
    text-align: justify;
}

#home-div p {
    margin-top: 5%;
}

#home-div button {
    display: block;
    margin: auto;
    margin-top: 10%;
}

#home-div h2 {
    text-align: center;
}

#home-div .about {
    float: left;
    overflow: hidden;
}

#home-div .about .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

#home-div .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }