#sitemap {
    padding: 2.5% 10% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#sitemap h1{
    width: 100%;
}

#sitemap h2:hover,
#sitemap h3:hover {
    color: red;
    cursor: pointer;
}

#sitemap h2{
    font-size: 3rem;
}

#sitemap h3 {
    font-size: 2.6rem;
}

#sitemap #pages{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    text-align: left;
}

#sitemap #pages .credits {
    text-align: center;
    width: 100%;
}

#sitemap #pages .home,
#sitemap #pages .about,
#sitemap #pages .forms,
#sitemap #pages .faqs,
#sitemap #pages .boarding,
#sitemap #pages .daycare,
#sitemap #pages .grooming,
#sitemap #pages .credits {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

#sitemap #pages h2 {
    width: 100%;
}

#sitemap #pages .indent {
    width: 90%;
}