/* 
  all font georgia 
    Titles/Header Bold
    Header: all caps
    Titles: see if BAY + Natalie like all caps 

  ALL pages have an expanded different photo - same like header below the nav bar
      Make long text boxes shorter (less width)

  Make CLEAN design (mostly like Green Beagle Lodge)
*/

h1 {
  font-size: 6rem;
}

button {
  font-size: 1.8rem;
}

/* Want to make first h2 color this light color (56e8fe) and then flicker + pulse to the darker color (0adefe) */
h2 {
  font-size: 4rem;
}

h3{
  font-size: 3rem;
}

h4{
  font-size: 2.8rem;
}

h5{
  font-size: 2.2rem;
}

h6{
  font-size: 2rem;
}

p,
a {
  font-size: 1.8rem;
  /* color: #859aaf; */
}

a{
  /* color: #69C913; */
}

.nav-item{
  font-size: 1.5rem;
  /* color: #07cae8; */
}

.copyright p {
  font-size: 1.2rem;
}
